.cadastro-loja-container {
    margin: 0 auto;
    padding: 20px 275px;
}

@media (max-width: 768px) {
    .cadastro-loja-container {
        justify-content: center;
        padding: 20px;
    }

    .title-group h1 {
        font-size: 1.8rem;
    }
    
    .title-group h2 {
        font-size: 1.4rem;
    }
    .input-group input,
    .textArea-group textarea,
    .select-group select {
        font-size: 14px;
        padding: 8px;
    }

    .error-message {
        font-size: 0.8rem;
    }
}

.error-message {
    color: red;
    font-size: 0.875rem;
}