.planos-page {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding-bottom: 80px;
}

.planos-title {
    font-size: 32px;
    color: #5393f7;
    font-weight: bold;
    margin-bottom: 40px;
}

.planos-content {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.plano-card {
    width: 250px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    background-color: #f7f9fc;
    color: #FFFFFF;
    transition: transform 0.3s, box-shadow 0.3s;
}

.plano-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

/* Plano Básico */
.plano-basico {
    background-color: #5393f7; /* Azul claro */
}

/* Plano Profissional */
.plano-profissional {
    background-color: #3a81db; /* Azul intermediário */
}

/* Plano Premium */
.plano-premium {
    background-color: #2d6bb7; /* Azul escuro */
}

.plano-nome {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.plano-preco {
    font-size: 20px;
    color: #e0e0e0;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
}

.plano-beneficios {
    list-style-type: disc;
    font-size: 18px;
    padding-left: 20px;
    color: #f5f5f5;
    margin-top: 10px;
}

.plano-beneficio {
    margin-bottom: 10px;
}

/* Botão */
.planos-page a {
    display: inline-block;
    margin-top: 20px;
}

/* Responsividade para tablets */
@media (max-width: 990px) {    
    .planos-title {
        font-size: 28px;
    }

    .plano-card {
        width: 90%;
        margin: 0 auto;
    }

    .plano-nome {
        font-size: 24px;
    }

    .plano-preco {
        font-size: 18px;
    }

    .plano-beneficio {
        font-size: 16px;
    }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 600px) {
    .planos-page {
        padding: 20px;
        padding-bottom: 30px;
    }

    .planos-title {
        font-size: 28px;
    }

    .plano-card {
        width: 100%;
        padding: 15px;
    }

    .plano-nome {
        font-size: 24px;
    }

    .plano-preco {
        font-size: 18px;
    }

    .plano-beneficio {
        font-size: 16px;
    }
}