.info-banner {
    padding: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    flex-wrap: wrap;
    /* Para permitir que os elementos se reorganizem em telas menores */
    gap: 20px;
}

.info-banner-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    flex: 2;
    padding-right: 20px;
}

.info-banner-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
}

.info-banner-subtitle {
    font-size: 28px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 10px;
}

.info-banner-content-list {
    list-style-type: none;
    padding: 0;
}

.info-banner-paragraph {
    margin-bottom: 5px;
    line-height: 1.6;
    font-size: 18px;
}

.info-banner-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #5393f7;
    background-color: transparent;
    border: 2px solid #5393f7;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    margin-top: 10px;
}

.info-banner-button:hover {
    background-color: #5393f7;
    color: white;
}

.button-group .button {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.button-group .button-primary {
    background-color: transparent;
    color: #5393f7;
    border: 2px solid #5393f7;
}

.info-banner-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.info-banner-image-principal {
    max-width: 300px;
    width: 100%;
    opacity: 1;
}

/* Responsividade */
@media (max-width: 768px) {
    .info-banner {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .info-banner-content {
        flex-direction: column;
        align-items: center;
    }

    .text-content {
        padding-right: 0;
    }

    .info-banner-title {
        font-size: 1.8rem;
    }

    .info-banner-subtitle {
        font-size: 1.2rem;
    }

    .info-banner-paragraph {
        font-size: 1.2rem;
    }

    .info-banner-image {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .info-banner-title {
        font-size: 1.8rem;
    }

    .info-banner-subtitle {
        font-size: 1.2rem;
    }

    .info-banner-paragraph {
        font-size: 1.2rem;
    }

    .info-banner-button {
        font-size: 1.2rem;
        padding: 8px 16px;
    }

    .info-banner-image-principal {
        max-width: 200px;
    }
}