.minha-conta-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Arial, sans-serif;
    gap: 20px;
    padding: 20px;
}

.conta-section,
.plano-section {
    flex: 1;
    padding: 20px;
    color: #787878;
    background-color: #fff;
}

.plano-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plano-buttons {
    display: flex;
    gap: 5px;
}

.plano-renova {
    color: #787878;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 12px;
    border-radius: 20px;
}

/* Para manter os elementos em colunas no desktop */
.conta-section {
    order: 1;
}

.plano-section {
    order: 2;
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    .minha-conta-container {
        flex-direction: column;
        align-items: center;
    }

    .conta-section,
    .plano-section {
        width: 100%;
        padding-top: 0px;
        margin-bottom: 0;
    }

    .conta-section h2,
    .plano-section h2 {
        font-size: 28px;
    }

    .plano-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .plano-details {
        margin-bottom: 20px;
    }

    .plano-footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .plano-renova {
        text-align: center;
    }

    .plano-buttons {
        justify-content: center;
    }

    .title-group {
        margin: 0px;
    }
}