.minha-conta-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
    gap: 20px;
}

.minha-conta-container .conta-section, 
.minha-conta-container .plano-section {
    width: 43%;
    padding: 30px;
    margin-bottom: 10px;
    color: #787878;
    border-radius: 8px;
}

.plano-name {
    font-weight: bold;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.plano-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plano-renova {
    color: #787878;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 12px;
    border-radius: 20px;
}

.plano-buttons {
    display: flex;
    gap: 5px;
}

/* Responsividade para tablets */
@media (max-width: 990px) {
    .minha-conta-container .conta-section, 
    .minha-conta-container .plano-section {
        width: 90%;
    }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 600px) {
    .minha-conta-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .minha-conta-container .conta-section, 
    .minha-conta-container .plano-section {
        width: 100%;
        padding: 20px;
    }

    .plano-footer {
        flex-direction: column;
        gap: 10px;
    }

    .button-wrapper {
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }
}